
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.auth-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px auto;
}


.image-container {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 25px;
}

.image-container:nth-child(3n+2) {
  margin-top: 100px;
}

.image-container img {
  max-width: 100%; 
  display: block; 
}

.image-container.brightness img {
  filter: brightness(50%);
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

.footer-image {
  max-width: 100%;
}
